@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Urbanist', sans-serif;
}

.cursor-pointer{
    cursor: pointer;
}

@keyframes spin{
    100% {
        transform: rotate(360deg);
    }
}

.spin-animation {
    animation: spin 1s linear infinite;
}

.invoiceform input:focus,
.invoiceform textarea:focus,
.invoiceform select:focus{
    box-shadow: none !important;
}
